.footer_agileinfo_w3 {
  padding: 4em 0;
  background-color: #0dcaf0;
}

.footer_inner_info_w3ls_agileits {
  width: 90%;
  margin: 0 auto;
}

.shop-button a {
  background: #000;
  color: #fff;
  padding: 0.6em 1em;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.shop-button a:hover,
.shop-button.two a:hover {
  background: #0dcaf0;
  color: #ffffff;
}

.shop-button.two a {
  background: #000000;
}

.navbar-toggler {
  color: #000000;
}

.mid_slider_w3lsagile {
  background: linear-gradient(to bottom right, gray, rgb(247, 246, 246));
}

.mid_slider_text h5 {
  font-size: 23px;
  margin-top: 121px;
  color: black;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: left;
}

.mid_slider_text {
  padding: 0em 3em;
}

.mid_slider_text h5 {
  font-size: 19px;
  margin-top: 117px;
}

.mid_slider_text h5 {
  font-size: 17px;
  margin-top: 78px;
}

.mid_slider_text {
  padding: 0em 1em;
}

.mid_slider_text {
  padding: 2em 1em;
}

.mid_slider_text h5 {
  font-size: 20px;
  margin-top: 4px;
}

.mid_slider_info {
  margin: 0 auto;
  padding: 0;
}

.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
  display: none;
}
